.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $spacing-xl;
    padding: $spacing-large;
}

.cards {
    border: 1px solid $color-card-border;
    border-radius: $border-radius-medium;
    overflow: hidden;
    box-shadow: 0 4px 8px $color-card-shadow;
    display: flex;
    flex-direction: column;
    min-height: 280px;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    position: relative;
    background-color: $color-dark-card-bg;

    &:hover {
        @include card-hover-effect;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top;
        display: block;
    }
}

.card-texto {
    flex-grow: 1;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    padding: $spacing-medium;
}

// Imágenes
.img-carousel {
    width: 100vh;
}

.logo-pagina {
    width: 5rem;
    display: flex;
    flex-direction: column;
}

.logo-contactos {
    width: 3rem;
}

// FAQ
.preguntas {
    color: $color-light-blue;
}

.preguntas-item {
    border: 1px solid $color-card-border;
    background-color: $color-black-shadow;
    margin: $spacing-small;
}

.titulo-preguntas {
    @include text-style;
}

.preguntas-description {
    border: 1px solid $color-card-border;
    background-color: $color-black-shadow;
    margin: $spacing-small;
}